<div class="container">
  <div class="row">
    <div class="col-lg-6 mx-auto">
      <h3 class="text-center">แก้ไขรายชื่อลูกค้า</h3>
      <form #editCustomer = "ngForm" (ngSubmit)="updatecustomer(editCustomer.value)">

        <div class="form-group">
          <label for="id">รหัสลูกค้า</label>
          <input ngModel name="cus_id" type="text" class="form-control"[(ngModel)]="cus_id" disabled style="border: 0ch;">
        </div>

        <div class="form-group">
          <label for="name">ชื่อ-นามสกุล</label>
          <input ngModel name="name" type="text" class="form-control" [(ngModel)]="name">
        </div>

        <div class="form-group">
          <label for="phone">เบอร์โทรศัพท์</label>
          <input ngModel name="phone" type="text" class="form-control" [(ngModel)]="phone">
        </div>

        <div class="form-group" *ngFor="let item of address let i = index">
          <label>ที่อยู่ {{i+1}}</label>
          <div class="row">
            <div class="col-10"> <input type="text" class="form-control" value={{item.address}} disabled style="border: 0ch;"></div>
            <div class="col-2"> <a (click)="update_address(i)"><span class="glyphicon glyphicon-wrench"></span> แก้ไข</a></div>
          </div>
        </div>

        <div class="form-group">
          <label for="birthdate">วัน/เดือน/ปีเกิด</label>
          <input ngModel name="birthdate" type="date" class="form-control" [(ngModel)]="birthdate">
        </div>

        <div class="form-group">
          <label for="perid">สิทธ์การเข้าใช้</label>
          <select ngModel name="urole" type="text" class="form-control" [(ngModel)]="urole" >
            <option value="1">admin</option>
            <option value="2">user</option>
          </select>
        </div>

        <div class="form-group">
          <label for="address">รหัสผ่าน</label>
          <input ngModel name="password" type="password" class="form-control" [(ngModel)]="password">
        </div>
        <br>
        <button  type="submit" class="btn btn-primary float-end" >
          บันทึก
        </button>
      </form>

    </div>
  </div>
</div>


