<div class="container">
  <h1 class="head">รายการข้อมูลธนาคาร</h1> <br>

  <div class="row">
    <div class="col-9 ">
    </div>
    <div class="col  ">
      <select class="form-select" (change)="pull()" [(ngModel)] = "openshow" aria-label="Default select example">
        <option selected value="1">เปิดการใช้งาน</option>
        <option value="0">ปิดการใช้งาน</option>
      </select> <br>
    </div>
  </div>

  <div class="row">
    <div class="col-9 ">
    </div>
    <div class="col  ">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1"> <i><span class="glyphicon glyphicon-search"></span></i> </span>
        </div>
        <input type="text" class="form-control" [(ngModel)]="keyword"  placeholder="ค้นหา" aria-label="Username"
          aria-describedby="basic-addon1" #s  (ngModelChange)="search()" />
      </div>
       <br>
    </div>
  </div>

  <div class="row">
    <div class="col-9 ">
    </div>
    <div class="col  ">
  <button type="button" class="greenlight btn-block btn-lg btn btn-" style="float: right;"
    [routerLink]="['/addbank']">
    <p class="white" style="font-size: 16px;"><span class="glyphicon glyphicon-plus-sign"></span> เพิ่ม</p>
  </button>
    </div>
  </div>
<br>


  <table class="table">
    <thead class="thead-dark" style="background-color: #FFE1E1;  ">
      <tr>

        <!-- <th scope="col">ID</th> -->
        <th scope="col">ชื่อธนาคาร</th>
        <th scope="col">เลขบัญชี</th>
        <th scope="col">ชื่อบัญชี</th>
        <th scope="col">สถานะการใช้งาน</th>
        <th scope="col">แก้ไข</th>
        <th scope="col">ลบ</th>

      </tr>
    </thead>
    <tbody class="info">
      <tr *ngFor="let b of this.bank |paginate: { id:'pagebank1',itemsPerPage: 7, currentPage: page, totalItems: totalRecords }; let i = index">

        <!-- <td>{{b.id_bank}}</td> -->
        <td>{{b.bank_name}}</td>
        <td>{{b.account_number}}</td>
        <td>{{b.account_name}}</td>
        <td>{{b.bank_status}}</td>

        <td><a [routerLink]="'/bankmanage/'+b.id_bank"><button type="button"
          class="orengeyellow btn-block btn-lg btn btn-">
          <p class="white" style="font-size: 16px;"><span class="glyphicon glyphicon-wrench"></span> แก้ไข</p>
        </button></a></td>

        <td><button type="button" class="red btn-block btn-lg btn btn-" (click)="delBank(b.id_bank)">
          <p class="white" style="font-size: 16px;"><span class="glyphicon glyphicon-remove-sign"></span>  ปิดการใช้งาน</p>
        </button></td>


      <tr *ngFor="let b of this.bank_not_use |paginate: { id:'pagebank0',itemsPerPage: 7, currentPage: page, totalItems: totalRecords }; ; let i = index">

        <!-- <td>{{b.id_bank}}</td> -->
        <td>{{b.bank_name}}</td>
        <td>{{b.account_number}}</td>
        <td>{{b.account_name}}</td>
        <td>{{b.bank_status}}</td>

        <td><a [routerLink]="'/bankmanage/'+b.id_bank"><button type="button"
          class="orengeyellow btn-block btn-lg btn btn-">
          <p class="white" style="font-size: 16px;"><span class="glyphicon glyphicon-wrench"></span> แก้ไข</p>
        </button></a></td>


        <td><button type="button" class="greenlight btn-block btn-lg btn btn-" (click)="openBank(b.id_bank)">
          <p class="white" style="font-size: 16px;"><span class="glyphicon glyphicon-ok-sign"></span> เปิดการใช้งาน</p>
        </button></td>

      </tr>

    </tbody>
  </table>

  <div class="row">
    <div class="col-9 ">
    </div>
    <div class="col  " *ngIf="openshow == 1">
      <pagination-controls id="pagebank1" [maxSize]="10" (pageChange)="page = $event" *ngIf="isshow"></pagination-controls>
    </div>
    <div class="col  " *ngIf="openshow == 0">
      <pagination-controls id="pagebank0" [maxSize]="10" (pageChange)="page = $event" *ngIf="isshow"></pagination-controls>
    </div>
  </div>

</div>
