<div class="container">
  <div id="section">
    <h1 class="head">รายการสั่งซื้อ </h1> <br>
    <h2 style="text-align: center  ;">Bill Detail </h2><br>
    <span class="text">Order ID : {{  orderid }}</span>

    <div class="row">
      <div class="col">

      </div>
      <div class="col-8">
        <div class="text" style="text-align: center;">ลูกค้า : {{ totalCustomername }}</div>
        <div class="text" style="text-align: center;">ที่อยู่ : {{ totaladdress }} อีเมล : {{ totalemail }}</div><br>
      </div>
      <div class="col">

      </div>
    </div>


    <table class="table">
      <thead class="thead-dark" style="background-color: #D6D6D6;  ">
        <tr>
          <th scope="col">#</th>
          <th scope="col">รหัสสินค้า</th>
          <th scope="col">ชื่อสินค้า</th>
          <th scope="col">จำนวนสินค้า</th>
          <th scope="col">ราคา/หน่วย</th>


        </tr>
      </thead>
      <tbody class="info">
        <tr *ngFor="let b of order; let i = index;">
          <th scope="row">{{ i+1 }}</th>
          <td>{{b.product_code}}</td>
          <td>{{b.product_name}}</td>
          <td>{{b.qty}}</td>
          <td>{{b.product_price}}</td>


        </tr>
      </tbody>
    </table>

    <div style="text-align: right;">รวมทั้งสิ้น {{ totalprice }} บาท </div>

    <br>
    <div class="row">
      <div class="col">
        <h2 style="font-size: large;">ข้อมูลการชำระเงิน</h2><br>
      </div>
      <div class="col">

      </div>
      <div class="row">
        <div class="col">
          <tr>ธนาคาร SCB บ/ช 246789456</tr>
          <td>จำนวนเงินที่โอน {{totalprice}} บาท</td>
          <tr>วันที่โอน {{ totalDate }} </tr>
        </div>
        <div class="col-5">

        </div>

      </div>
    </div>


  </div>
<div class="row">
  <div class="col">

  </div>
  <div class="col">
    <h2 style="font-size: large; text-align: center;">หลักฐานการโอนเงิน</h2> <br>
  </div>
  <div class="row">
    <div class="col">

    </div>
    <div class="col-5">

    </div>
    <div class="col">
      <img [src]="path+image" width="250px">

    </div>
  </div>

</div>
<br>
<br>

<div class="row">
  <div class="col">
    <button printSectionId="section" ngxPrint type="button" [useExistingCss]="true"
    class="blue btn-block btn-lg btn btn-">
    <p class="white" style="font-size: 16px;">พิมพ์ใบเสร็จ</p>
  </button>
  </div>

<div class="col-5">

</div>

  <div class="col" style="text-align: right;">
    <button class="greenlight btn-block btn-lg btn btn-" (click)="updateStatus(orderid)">
      <p class="white" style="font-size: 16px;">ยืนยันการชำระเงิน</p>
    </button>
  </div>

</div>


  <div>

  </div>

</div>
