.container {
  padding: 50px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08)  ;
  height: 850px;
  margin: 3rem auto;
}

.thead-dark {
  align-content: center;
  text-align: center;
}

.info {
  align-content: center;
  text-align: center;
}

