<div class="container">
  <h1 class="head" style="text-align: left;">ประวัติการขาย</h1> <br>

  <div class="row">
    <div class="col-3">

      <span class="input-text" id="basic-addon1"> </span>
      <label for="validationTooltip01">วันที่เริ่มต้น</label>
      <input type="date" class="form-control" [(ngModel)]="date_start" (change)="pull()"/>

    </div>
    <div class="col-3">
      <span class="input-text" id="basic-addon1"> </span>
      <label for="validationTooltip02">วันที่สิ้นสุด</label>
      <input type="date" class="form-control" [(ngModel)]="date_end" (change)="pull()"/>
    </div>

    <div class="col-2"><br>
      <a href="/ordersuccess" style="font-size: 12pt;" class="float-right"><span class="glyphicon glyphicon-removeglyphicon glyphicon-remove-circle
        "></span> Clear </a>
    </div>

    <div class="col">
      <label for="validationToolsearch"></label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1"> <i><span class="glyphicon glyphicon-search"></span></i>
          </span>
        </div>
        <input type="text" class="form-control" [(ngModel)]="keyword" placeholder="ค้นหา" aria-label="Username"
          aria-describedby="basic-addon1" #s (ngModelChange)="search()" />
      </div>
      <br>
    </div>
  </div>

  <!-- <div class="row">
    <div class="col">
      <div class="btn-group-sm" role="group" aria-label="Basic example" >
        <input type="radio" class="purple btn" style="color: aliceblue;" (click)="set_date('1')" value="opt1" checked> วันนี้
        <input type="radio" class="purple btn" style="color: aliceblue;"(click)="set_date('2')" value="opt2" > ทั้งหมด
      </div>

    </div>
  </div> -->

  <div class="row">
    <div class="col">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" (click)="set_date('1')" value="opt1" checked />
        <label class="form-check-label" for="inlineRadio1">วันนี้</label>
      </div>

      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" (click)="set_date('2')" value="opt2" />
        <label class="form-check-label" for="inlineRadio2">ทั้งหมด</label>
      </div>

    </div>
  </div>

  <br>


  <table class="table">
    <thead class="thead-dark" style="background-color: #D5BDE4;  ">
      <tr>
        <th scope="col">ลำดับ</th>
        <th scope="col">ID</th>
        <th scope="col">ชื่อลูกค้า</th>
        <th scope="col">สถานะ</th>
        <th scope="col">จำนวนเงินที่จ่าย</th>
        <th scope="col">วัน-เวลา</th>
      </tr>
    </thead>
    <tbody class="info">
      <tr *ngFor="let b of this.order; let i = index">
        <td scope="row">{{ i+1 }}</td>
        <td>{{b.order_id}}</td>
        <td>{{b.name}}</td>
        <td>{{b.status}}</td>
        <td>{{b.amount_paid}}</td>
        <!-- <td>{{b.date | date:'dd/MM/YYYY เวลา HH:mm น.'}}</td> -->
        <td>{{b.date | date:'medium' | adtobe}}</td>

    </tbody>

  </table>

  <div style="text-align: right;">ยอดขายรวมทั้งสิ้น {{totalpaid}} บาท </div>

<!-- <div class="avengers-end" style="background-color: #fa9494;">
  สวัสดี
</div> -->

</div>
