
<div class="container">
  <header class="header">
    แดชบอร์ด
  </header> <br><br>
  <div class="row">
    <div class="col">
      <div class="card" style="background-color: #3DB7BF;">
        <div>
          <div class="numbers">57</div>
          <div class="iconBx">

          </div>
          <div class="cardname">จำนวนสินค้า</div>
        </div>
        <div class="footer">
          <a href="">ดูเพิ่มเติม</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="background-color: #35B92A;">
        <div>
          <div class="numbers">10</div>
          <div class="iconBx">

          </div>
          <div class="cardname">รายการสั่งซื้อ</div>
        </div>
        <div class="footer">
          <a href="">ดูเพิ่มเติม</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="background-color: #F2A000;">
        <div>
          <div class="numbers">80</div>
          <div class="iconBx">

          </div>
          <div class="cardname">จำนวนลูกค้า</div>
        </div>
        <div class="footer">
          <a href="">ดูเพิ่มเติม</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="background-color: #E14545;">
        <div>
          <div class="numbers">5</div>
          <div class="iconBx">

          </div>
          <div class="cardname">จำนวนพนักงาน</div>
        </div>
        <div class="footer">
          <a href="">ดูเพิ่มเติม</a>
        </div>
      </div>
    </div>
  </div>
</div>
