
<div class="container">
  <header class="header">
    แดชบอร์ด
  </header> <br><br>
  <div class="row">
    <div class="col">
      <div class="card" style="background-color: #3DB7BF;">
        <div>
          <div class="numbers">57</div>
          <div class="iconBx">
            <img src="https://cdn-icons-png.flaticon.com/512/3703/3703259.png" alt="" width="30" height="30">
          </div>
          <div class="cardname">จำนวนสินค้า</div>
        </div>
        <div class="footer">
          <a href="">ดูเพิ่มเติม</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="background-color: #35B92A;">
        <div>
          <div class="numbers">10</div>
          <div class="iconBx">
            <img src="https://cdn-icons.flaticon.com/png/512/2099/premium/2099125.png?token=exp=1643009750~hmac=5035defd6201d55ba3f8fadca46bc099" alt="" width="30" height="30">
          </div>
          <div class="cardname">รายการสั่งซื้อ</div>
        </div>
        <div class="footer">
          <a href="">ดูเพิ่มเติม</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="background-color: #F2A000;">
        <div>
          <div class="numbers">80</div>
          <div class="iconBx">
            <img src="https://cdn-icons.flaticon.com/png/512/3239/premium/3239156.png?token=exp=1643009792~hmac=a5e2c65aca6097226b90bf9ee6e8983d" alt="" width="30" height="30">
          </div>
          <div class="cardname">จำนวนลูกค้า</div>
        </div>
        <div class="footer">
          <a href="">ดูเพิ่มเติม</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="background-color: #E14545;">
        <div>
          <div class="numbers">5</div>
          <div class="iconBx">
            <img src="https://cdn-icons.flaticon.com/png/512/4514/premium/4514275.png?token=exp=1643009820~hmac=07670693d6eba6f0d72a381c5af48364" alt="" width="30" height="30">
          </div>
          <div class="cardname">จำนวนพนักงาน</div>
        </div>
        <div class="footer">
          <a href="">ดูเพิ่มเติม</a>
        </div>
      </div>
    </div>
  </div>
</div>
