<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
<div class="container">
  <h1 class="head">แดชบอร์ด</h1> <br>
    <div class="row">
    <div class="col-md-3">
      <div class="card-counter primary">
        <i class="fa fa-shopping-bag"></i>
        <span class="count-numbers">{{ totalResults1 }} ชิ้น</span>
        <span class="count-name">จำนวนสินค้า</span>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card-counter danger">
        <i class="fa fa-list"></i>
        <span class="count-numbers">{{ totalResults2 }} รายการ </span>
        <span class="count-name">รายการสั่งซื้อ</span>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card-counter success">
        <i class="fa fa-users"></i>
        <span class="count-numbers">{{ totalResults3 }} คน</span>
        <span class="count-name">จำนวนลูกค้า</span>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card-counter info">
        <i class="fa fa-user"></i>
        <span class="count-numbers">{{ totalResults4 }} คน</span>
        <span class="count-name">จำนวนพนักงาน</span>
      </div>
    </div>
  </div>
</div>
