<div class="container">
  <div class="row">
    <div class="col-lg-6 mx-auto">
      <h3 class="text-center">แก้ไขรายการสินค้า</h3>
      <form [formGroup]="editProduct" >

        <div class="form-group">
          <label for="pro_id">รหัสสินค้า</label>
          <input formControlName="pro_id" type="text" class="form-control" id="pro_id">
        </div>

        <div class="form-group">
          <label for="name">ชื่อสินค้า</label>
          <input formControlName="name" type="text" class="form-control" id="name">
        </div>

        <div class="form-group">
          <label for="quantity">จำนวนสินค้า</label>
          <input formControlName="quantity" type="text" class="form-control" id="quantity">
        </div>

        <div class="form-group">
          <label for="price">ราคา</label>
          <input formControlName="price" type="text" class="form-control" id="price">
        </div>

        <br>
        <button (click)="updateproduct(editProduct.value)" type="submit" class="btn btn-primary float-end" >
          แก้ไข
        </button>
      </form>

    </div>
  </div>
</div>

