@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@200;400;700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Prompt', sans-serif;
}

.container {
  padding: 50px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08)  ;
  height: 850px;
  margin: 3rem auto;
}

.greenlight {
  background: #20AC14;
}
