
  #left {
    margin-top: 35px;
    width: 30%;
    float: left;
    height: 100%;

  }
  
  #right {
    margin-top: 100px;
    width: 70%;
    float: right;
    height: 100%;

  }

/* Preview */
.preview{
  width: 100px;
  height: 100px;
  border: 1px solid black;
  margin: 0 auto;
  background: white;
}

.preview img{
  display: none;
}

/* Button */
.button{
  border: 0px;
  background-color: deepskyblue;
  color: white;
  padding: 5px 15px;
  margin-left: 10px;
}
