<div class="container">
  <div class="row">
    <div class="col-lg-6 mx-auto">
      <h3 class="text-center">เพิ่มรายชื่อพนักงาน</h3>
      <form #addemployeeForm="ngForm">

        <div class="form-group">
          <label for="fullname">รหัสพนักงาน</label>
          <input ngModel name="em_id" type="text" class="form-control" id="em_id">
        </div>

        <div class="form-group">
          <label for="province">ชื่อ-นามสกุล</label>
          <input ngModel name="name" type="text" class="form-control" id="name">
        </div>

        <div class="form-group">
          <label for="province">เบอร์โทรศัพท์</label>
          <input ngModel name="phone" type="text" class="form-control" id="phone">
        </div>

        <div class="form-group">
          <label for="province">ที่อยู่</label>
          <input ngModel name="address" type="text" class="form-control" id="address">
        </div>

        <div class="form-group">
          <label for="province">วัน/เดือน/ปีเกิด</label>
          <input ngModel name="birthdate" type="date" class="form-control" id="birthdate">
        </div>

        <div class="form-group">
          <label for="province">สิทธ์การเข้าใช้</label>
          <select ngModel name="perid" type="text" class="form-control" id="perid">
            <option value="0">approve</option>
            <option value="1">disapproved</option>
          </select>
        </div>
        <br>
        <button (click)="addemployee(addemployeeForm.value)" type="submit" class="btn btn-primary float-end">
          เพิ่ม
        </button>
      </form>

    </div>
  </div>
</div>
