@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@200;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Prompt', sans-serif;
}

.head {
  color: #FF9999;
  text-align: center;
}

.center {
  color: rgb(245, 124, 184);
  width: 840px;
  margin: 2rem auto;
  height: 800px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  text-align: center;
}

.border {
  border-style: solid;
  border-color: red;
  border-width: 2px;
}

.sentbutton {
  width: 60px;
  font-size: 18pt;
  font-weight: 450;
  font-stretch: wider;
}

.greenlight {
  background: #20AC14;
}



