<div class="container" style="padding-top:10%">
  <h1 class="head">
    แจ้งชำระสินค้า
  </h1>

  <div class="row">
    <div class="col-4 " style="text-align: center;">
      <img [src]="logo2" />
    </div>

    <div class="col ">
      <div style="text-align: right;">

        <form action="">
          <br>

          <div class="form-group row">
            <label for="inputname" class="col-sm-2 col-form-label">ชื่อ-นามสกุล</label>
            <div class="col-sm-10"> <input type="text" class="form-control" id="inputname"
                placeholder="โปรดใส่ชื่อ-นามสกุลของคุณ"> </div>
          </div> <br>

          <div class="form-group row">
            <label for="inputphone" class="col-sm-2 col-form-label">เบอร์โทรศัพท์</label>
            <div class="col-sm-10"> <input type="text" class="form-control" id="inputphone"
                placeholder="โปรดใส่เบอร์โทรศัพท์ของคุณ"> </div>
          </div> <br>

          <div class="form-group row">
            <label for="inputdate" class="col-sm-2 col-form-label">วัน/เดือน/ปีที่โอน</label>
            <div class="col-sm-10"> <input type="date" class="form-control" id="inputdate" placeholder="Password">
            </div>
          </div> <br>

          <div class="form-group row">
            <label for="inputtime" class="col-sm-2 col-form-label">เวลาการโอน</label>
            <div class="col-sm-10"> <input type="time" class="form-control" id="inputtime" placeholder="time"> </div>
          </div> <br>

          <div class="form-group row">
            <label for="inputtotal" class="col-sm-2 col-form-label">จำนวนเงิน</label>
            <div class="col-sm-10"> <input type="number" class="form-control" id="inputtotal"
                placeholder="โปรดใส่จำนวนเงินของคุณ"> </div>
          </div> <br>

          <div class="form-group row">
            <label for="inputfile" class="col-sm-2 col-form-label">แนบไฟล์หลักฐานการโอนเงิน</label>
            <div class="col-sm-10"> <input type="file" class="form-control" id="inputfile"> </div>
          </div>

          <button type="button" class="greenlight btn-block btn-lg btn btn-success"><p style="width: 60px;font-size: 18pt;font-weight: 450;font-stretch: wider;">ส่ง</p></button>

        </form>

      </div>

    </div>

  </div>

  <br><br>
  <div style="text-align: center;">
    <img [src]="logo" />
  </div>

</div>
